input {
  padding: 10px;
  margin: 10px;
  min-width: 300px;  
}

button {
  padding: 10px;
  background-color: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

h1 {
  color: var(--primary);
}

.f1 {
  flex: 1;
}

.main-container {
  display: flex;
  background-color: var(--primary);
  min-height: 100vh;
  padding: 0 10rem;
}

.main-container div:nth-child(1) {
  background-color: white;
  flex: 1;
}

.error {
  text-align: center;
  color: red;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.search-form-result {
  display: flex;
  flex-direction: column;
}

.single-search-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.single-search-item .heading {
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

.single-list-item {
  display: flex;
  box-shadow: 0px 0px 1px 1px #eee;
  margin-top: 10px;
  padding: 10px;
}

.single-list-item span:nth-child(1) {
  margin-right: 10px;
  font-weight: bold;
}